<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://com.mavidev.samplemavidevproject/menu.application.title" opened="true">
        <item view="User.list" title="msg://com.mavidev.samplemavidevproject.view.user/UserListView.title"/>
        <item view="Department.list"
              title="msg://com.mavidev.samplemavidevproject.view.department/departmentListView.title"/>
        <item view="Employee.list" title="msg://com.mavidev.samplemavidevproject.view.employee/employeeListView.title"/>
    </menu>

</menu-config>